* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.active {
  border-bottom: 0.125rem solid red;
}

button {
  padding: 0.625rem 1.25rem;
}